.section {
  max-width: 1312px;
  margin: 0 auto;
  padding: 48px 0 333px 0;
  display: flex;
  align-items: flex-start;
  gap: 130px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 420px;
}