.main {
  max-width: 1312px;
  margin: 0 auto;
  padding: 110px 0 170px 0;
}

.planet {
  position: absolute;
  top: 300px;
  left: 600px;
}

.title {
  color: #FFF;
  font-family: Bebas Neue;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 48px;
}

.list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  gap: 22px;
}