.outer {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background: rgba(23, 23, 23, 0.81);
  z-index: 5000;
}

.hidden {
  visibility: hidden;
}

.inner {
  position: fixed;
  left: calc(50vw - 221px);
  top: calc(50vh - 221px);
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #262628;
  z-index: 10000;
  margin: 0 auto;
}
