.outer {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background: rgba(23, 23, 23, 0.81);
  z-index: 5000;
}

.hidden {
  visibility: hidden;
}

.inner {
  position: fixed;
  left: calc(50vw - 221px);
  top: calc(50vh - 221px);
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #262628;
  z-index: 10000;
  margin: 0 auto;
}

.title {
  color: #E75626;
  font-family: Bebas Neue;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; 
  margin-bottom: 29px;
}

.text {
  color: #FFF;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; 
  margin-bottom: 50px;
  width: 320px;
}

.text a {
  color: #E75626;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  text-decoration: none;
}
