.section {
  max-width: 1312px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 60px;
  padding-top: 160px;
}

.aside {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 42px;
  color: #FFF;
  font-family: Bebas Neue;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 38.4px */
  letter-spacing: 1px;
  text-align: center;
}

.main {
  position: relative;
  width: 100%;
}

.outlined {
  color: #171719;
  font-size: 120px;
  -webkit-text-stroke: 1px #FFFFFF;
}

.text {
  margin-top: 45px;
  color: #FFF;
  font-family: Avenir Next Cyr;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  width: 420px;
}

.title {
  position: relative;
  z-index: 10;
  color: #FFF;
  font-family: Bebas Neue;
  font-size: 120px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 144px */
  mix-blend-mode: #a23d;
}

.image {
  position: absolute;
  top: -64px;
  left: 663px;
  z-index: 200;
}