/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); */
@import './assets/fonts/fonts.css';

button {
  border: none;
  border-width: 0px;
  box-shadow: none;
}

p, label, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

